#User Specific
*.user*

#Mono Project Files
*.pidb
*.resources
test-results/

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

bin
obj
*.a
*.dll
xcuserdata/
ios/ApiReference.ignore.cs